<div class="py-4">
	<h2>Administración</h2>
	<hr class="w-50" />
	<div class="d-flex justify-content-between">
		<button class="btn btn-success" onclick="createTables();">Crear tablas</button>
		<button class="btn btn-info" onclick="insertSkater();">Insertar skater</button>
		<button class="btn btn-danger" onclick="deleteTables();">Eliminar tablas</button>
	</div>

	<table class="table w-50 m-auto">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">email</th>
				<th scope="col">Fecha ingreso</th>
				<th scope="col">Terreno</th>
			</tr>
		</thead>
			{{#each admin}}
		<tbody>
			<tr>
				<th scope="row">{{@index}}</th>
				<td>{{this.nombre}}</td>
				<td>{{this.apellido}}</td>
				<td>{{this.email}}</td>
				<td>{{this.created_at}}</td>
				<td><input class="checkboxs" data-state="{{this.estado}}" value="" onclick="changeState({{this.user_id}},{{this.estado}})" value="{{this.estado}}" type="checkbox" /></td>
			</tr>
		</tbody>
			{{/each}}
	</table>
</div>

<script>
	let checkboxs = document.getElementsByClassName("checkboxs");
	const createTables=async ()=>{
		let resp = await axios.get("/admin/createTables");
		if(resp.data){
			alert("Tablas listas para ser utilizadas")
			location.reload()
		}else{alert("Ah ocurrido un error al intentar crear las tablas")}
		};
	const deleteTables=async ()=>{ 
		let resp = await axios.get("/admin/deleteTables");
		if(resp.data){
			alert("Tablas eliminadas con éxito.")
			location.reload()
		}else{alert("Error al intentar eliminar las tablas.")}
	};
	const insertSkater=async()=>{
		let resp = await axios.get("/admin/insertSkater");
		if(resp.data.status==true){
			alert(resp.data.message)
		}else{alert(resp.data.message)}
	};
	const changeState=async(id,state)=>{
		console.log(state);
		try{
			let resp = await axios.put(`/intranet/changeState/${id}/${state}`,{token:`{{token}}`})
			alert(resp.data)
			location.reload();
		}catch(err){
			console.log(err)
			alert("Ah ocurrido un error con el servidor")
		}
	}
	for(let item of checkboxs){
		if(item.dataset.state=="true"){
			item.checked=true;
		}else{item.checked=false};
		};
</script>