<h1>Skate Park</h1>

<div class="py-4">
	<h2>Datos del perfil</h2>
	<hr class="w-50" />

	<form id="form">
		<div class="form-group row w-50 m-auto">
			<div class="form-group col-12 col-sm-6">
				<label for="email">Email:</label><br />
				<input type="email" name="email" value="{{resp.email}}" placeholder="asd@asd.com" class="form-control m-auto"/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="fname">Nombre:</label><br />
				<input type="text" name="fname" value="{{resp.nombre}}" placeholder="John" class="form-control m-auto"/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="lname">Apellido:</label><br />
				<input type="text" name="lname" value="{{resp.apellido}}" placeholder="Smith" class="form-control m-auto"/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="last_password">Password:</label><br />
				<input type="password" name="last_password" placeholder="****" class="form-control m-auto"/>
			</div>			<div class="form-group col-12 col-sm-6">
				<label for="password_01">Nueva Password:</label><br />
				<input type="password" name="password_01" placeholder="****" class="form-control m-auto"/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="password_02">Repita la nueva password:</label><br />
				<input type="password" name="password_02" placeholder="****" class="form-control m-auto"/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="experience">Años de experiencia:</label><br />
				<input type="number" name="experience" value="{{resp.anos_experiencia}}" placeholder="05" class="form-control m-auto"/>
			</div>
			<div class="form-group col-12 col-sm-6">
				<label for="speciality">Especialidad:</label><br />
				<input type="text" name="speciality" value="{{resp.especialidad}}" placeholder="Kickflip" class="form-control m-auto"/>
			</div>
		</div>
		<button type="submit" class="btn btn-info mb-3">Actualizar información</button>
	</form>
	<button id="button" class="btn btn-danger mb-3">Eliminar cuenta</button>
</div>

<script>
	const form = document.getElementById("form");
	form.addEventListener("submit",async (e)=>{
		e.preventDefault();
		const password_01 = form.elements["password_01"].value;
		const password_02 = form.elements["password_02"].value;
		if(password_01!=password_02){
			alert("Las contraseñas no coinciden, intente nuevamente.");
		}else{
			let dataResponse={
				email: form.elements["email"].value,
				fname: form.elements["fname"].value,
				lname: form.elements["lname"].value,
				last_password: form.elements["last_password"].value,
				password_01: form.elements["password_01"].value,
				password_02: form.elements["password_02"].value,
				experience: form.elements["experience"].value,
				speciality: form.elements["speciality"].value,
			}
			await axios.put("/editAccount/skater/2", dataResponse);
		}
	})
</script>