<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		{{#if token}}
		<a id="home" class="navbar-brand" href="/?token={{token}}">SkatePark</a>
		{{else}}
		<a id="home" class="navbar-brand" href="/">SkatePark</a>
		{{/if}}
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				{{#unless token}}
				<a class="nav-link active" aria-current="page" href="/signup">Registrarse</a>
				<a class="nav-link" href="/login">Ingresar</a>
				{{/unless}}
				{{#if skater}}
				<a class="nav-link" id="skaterLink" href="/editAccount/skater/{{skater.id}}/{{token}}" >Editar cuenta [Skater]</a>
				{{/if}}
				{{#if admin}}
				<a class="nav-link" id="intranetLink" href="/intranet/{{token}}">Listar postulantes [Intranet]</a>
				{{/if}}
				{{#if intranet}}
				<a class="nav-link" id="intranetLink" href="/intranet/{{token}}">Listar postulantes [Intranet]</a>
				{{/if}}
			</div>
			<div class="row">
			{{#if token}}
			<div><a class="nav-link" href="/logout">logout</a></div>
			{{/if}}
			{{#if admin}}
			<div><a class="nav-link" href="/intranet/admin/{{token}}">Intranet</a></div>
			{{/if}}
			</div>
			</div>
		</div>
	</div>
</nav>

<script>
	{{#if token}}
	let tokenTemp = `{{token}}`;
	console.log("tokenTemp: ", tokenTemp);
	let tokenSaved=sessionStorage.getItem('token');
	if(tokenTemp.length>0&&tokenTemp!=tokenSaved){
		sessionStorage.setItem('token', tokenTemp)
		alert(`Autenticado con éxito! Tu token está en SessionStorage`)
	};
	{{else}}
	if(!(`${sessionStorage.getItem('token')}`=='null')){
		sessionStorage.removeItem('token')
		alert(`Token eliminado del SessionStorage`)
	}
	{{/if}}
</script>